<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-links">
      <a href="https://sriharshacr.github.io/sriharshacr/" target="_blank" rel="noopener">About</a>
<!--
      INFO: Let Github page only be the central page for all my contacts
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://x.com/{{ site.twitter_username }}" target="_blank" rel="noopener">X / Twitter</a>
      <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">GitHub</a>
-->      
    </div>
    <p class="footer-copy">&copy; {{ 'now' | date: "%Y" }} {{site.author_fullname}}. All rights reserved.</p>
  </div>
</footer>
